<%= form_for(trailhead) do |f| %>
    <label class="label">Trailhead Name:</label>
    <%= f.text_field :name %><br><br>

    <label class="label">Location:</label>
    <%= f.text_field :location %><br><br>

    <label class="label">Amenities:</label>
    <%= f.text_field :amenities %><br><br>

    <label class="label">Fees or Permits:</label>
    <%= f.text_field :fees %><br><br>
    <input type="submit" value="Submit" class="button is-primary">
<% end %>