<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"><%= @trailhead.name %></h1>
        </div>
    </div>
</section>
<br>
<% if @trailhead.creator_id == current_user.id %>
    <%= link_to "Edit Trailhead", edit_trailhead_path(@trailhead) %> <br>
<% end %>

<div>
Location: <%= @trailhead.location %> <br />
Amenities: <%= @trailhead.amenities %> <br />
Fees: <%= @trailhead.fees %> <br />
</div>
<br>
<div>
<%= link_to "New Hike", new_trailhead_hike_path(@trailhead) %>
</div>
<br>
<div>
<h3><%= @check_ins.length %> hikers have checked in here!</h3>

<%= form_tag(check_ins_path, method: "post") do %>
    <%= hidden_field_tag "trailhead_id", @trailhead.id %>
    Here today? <input type="submit" value="Check In" class="button is-primary is-small">
<% end %>
</div>


<% unless @hikes.empty? %>
    <h3>All Hikes at <%= @trailhead.name %></h3>
    <div>
    <%= render partial: "hikes/list", locals: {hikes: @hikes} %>
    </div>
<% else %>
    <h3>There are no hikes here yet! Add one by following the link above.</h3>
<% end %>

<% unless @check_ins.empty? %>
    <h3><%= @trailhead.name %> Check-Ins:</h3>
    <ul>
    <% @check_ins.each do |ch| %>
        <li><%= format_ch_date ch %>: <%= link_to ch.user.name, user_path(ch.user) %></li>
    <% end %>
    </ul>
<% end %>