<h1><%= @trailhead.name %></h1>

<div>
Location: <%= @trailhead.location %> <br />
Amenities: <%= @trailhead.amenities %> <br />
Fees: <%= @trailhead.fees %> <br />
</div>

<div>
<%= link_to "New Hike", new_trailhead_hike_path(@trailhead) %>
</div>


<% unless @hikes.empty? %>
    <h3>All Hikes at <%= @trailhead.name %></h3>

    <div>
    <ul>
    <% @hikes.each do |h| %>
        <li><%= link_to h.name, trailhead_hike_path(@trailhead.id, h.id) %></li>
    <% end %>
    </ul>
    </div>
<% else %>
    <h3>There are no hikes here yet! Add one by following the link above.</h3>
<% end %>

<% unless @check_ins.empty? %>
    <h3><%= @trailhead.name %> Check-Ins:</h3>
    <ul>
    <% @check_ins.each do |ch| %>
        <li><%= ch.format_date %>: <%= link_to ch.user.name, user_path(ch.user) %></li>
    <% end %>
    </ul>
<% end %>