<h1><%= @user.name %></h1>

<% unless @hikes.empty? %>
    <h3>Hikes Published by <%= @user.name %>:</h3>
    <%= render partial: "hikes/list", locals: {hikes: @hikes} %>
<% end %>

<% unless @trailheads.empty? %>
    <h3>Trailheads that <%= @user.name %> has been to:</h3>
    <%= render partial: "trailheads/list", locals: {trailheads: @trailheads.uniq} %>
<% end %>

<% unless @check_ins.empty? %>
    <h3><%= @user.name %>'s Check-Ins:</h3>
    <ul>
    <% @check_ins.each do |ch| %>
        <li><%= format_ch_date ch %>: <%= ch.trailhead.name %></li>
    <% end %>
    </ul>
<% end %>

<% unless @trip_reports.empty? %>
    <h3><%= @user.name %>'s Trip Reports:</h3>
    <ul>
    <% @trip_reports.each do |tr| %>
        <li><%= format_tr_date tr %>: <%= link_to tr.hike.name, hike_path(tr.hike) %><br>
        <%= tr.rating %> Stars<br>
        <%= tr.content %></li>
    <% end %>
    </ul>
<% end %>