<h1><%= @user.name %></h1>

<% unless @hikes.empty? %>
    <h3>Hikes Published by <%= @user.name %>:</h3>
    <%= render partial: "hikes/list", locals: {hikes: @hikes} %>
<% end %>

<% unless @trailheads.empty? %>
    <h3>Trailheads that <%= @user.name %> has been to:</h3>
    <%= render partial: "trailheads/list", locals: {trailheads: @trailheads.uniq} %>
<% end %>

<% unless @check_ins.empty? %>
    <h3><%= @user.name %>'s Check-Ins:</h3>
    <ul>
    <% @check_ins.each do |ch| %>
        <li><%= format_ch_date ch %>: <%= ch.trailhead.name %></li>
    <% end %>
    </ul>
<% end %>

<% unless @trip_reports.empty? %>
    <h3><%= @user.name %>'s Trip Reports:</h3>
    
    <% @trip_reports.each do |tr| %>

        <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img class="is-rounded" src="https://i.imgur.com/1lG4sCo.png">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
            <p>
                <strong><%= format_tr_date tr %>: <%= link_to tr.hike.name, hike_path(tr.hike) %></strong><br>
                <% if tr.rating %>
                <% n = tr.rating %>
                    <%= n %> Stars<br>
                    <% n.times do %>&bigstar;<% end %><br>
                <% end %>
                <br>
                <%= tr.content %>
            </p>
            </div>
        </div>
        </article>

    <% end %>
    
<% end %>