<h2>Edit <%= @hike.name %></h2>

<% if @hike.errors.any? %>
  <div id="error_explanation">
    <h4>
      <%= pluralize(@hike.errors.count, "error") %>
      prevented this hike from being saved:
    </h4>
 
    <ul>
    <% @hike.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: "form", locals: {form_hike: @hike} %>

<%= button_to "Delete Hike", hike_path(@hike), method: :delete %>