<h1><%= @hike.name %></h1>
<i>Created by <%= @hike.user.name %></i>

<div>
Trailhead: <%= link_to @trailhead.name, trailhead_path(@trailhead) %> <br />
Distance: <%= @hike.distance %> <br />
Elevation Gain: <%= @hike.elevation_gain %> <br />
Type: <%= @hike.hike_type %> <br />
Difficulty: <%= @hike.difficulty %> <br />
Highlights: <%= @hike.boolean_display %> <br />
<br>
Description: <%= @hike.description.gsub(/\n/, '<br>').html_safe %> <br />
</div>