<h1><%= @hike.name %></h1>
<% if @hike.user == current_user %>
    <%= link_to "Edit Hike", edit_hike_path(@hike) %>
<% else %>
    <i>Created by <%= link_to @hike.user.name, user_path(@hike.user) %></i>
<% end %>

<div>
Trailhead: <%= link_to @trailhead.name, trailhead_path(@trailhead) %> <br />
Distance: <%= @hike.distance %> <br />
Elevation Gain: <%= @hike.elevation_gain %> <br />
Type: <%= @hike.hike_type %> <br />
Difficulty: <%= @hike.difficulty %> <br />
Highlights: <%= @hike.boolean_display %> <br />
<br>
Description: <%= @hike.description.gsub(/\n/, '<br>').html_safe %> <br />
</div>

<% unless @trip_reports.empty? %>
    <h3><%= @hike.name %> Trip Reports:</h3>
    <ul>
    <% @trip_reports.each do |tr| %>
        <li><%= tr.format_date %>: <%= link_to tr.user.name, user_path(tr.user) %><br>
        <%= tr.rating %> Stars<br>
        <%= tr.content %></li>
    <% end %>
    </ul>
<% end %>