<h1><%= @hike.name %></h1>
<% if @hike.user == current_user %>
    <%= link_to "Edit Hike", edit_hike_path(@hike) %>
<% else %>
    <i>Created by <%= link_to @hike.user.name, user_path(@hike.user) %></i>
<% end %>

<div>
Trailhead: <%= link_to @trailhead.name, trailhead_path(@trailhead) %> <br />
Distance: <%= @hike.distance %> <br />
Elevation Gain: <%= @hike.elevation_gain %> <br />
Type: <%= @hike.hike_type %> <br />
Difficulty: <%= @hike.difficulty %> <br />
Highlights: <%= @hike.boolean_display %> <br />
<br>
Description: <%= @hike.description.gsub(/\n/, '<br>').html_safe %> <br />
</div>
<br><br>
<h3>Leave a Trip Report:</h3>
<%= form_tag(trip_reports_path, method: "post") do %>
    <%= hidden_field_tag "hike_id", @hike.id %>
    Rating: <%= select_tag :rating, options_for_select([ [''], ['5 Stars', 5], ['4 Stars', 4], ['3 Stars', 3], ['2 Stars', 2], ['1 Stars', 1] ]) %><br>
    Trip Report:<br>
    <%= text_area_tag :content %><br>
    <%= submit_tag("Submit Trip Report") %>
<% end %>

<% unless @trip_reports.empty? %>
    <h3><%= @hike.name %> Trip Reports:</h3>
    <ul>
    <% @trip_reports.each do |tr| %>
        <li><%= tr.format_date %>: <%= link_to tr.user.name, user_path(tr.user) %><br>
        <% if tr.rating %>
            <%= tr.rating %> Stars<br>
        <% end %>
        <%= tr.content %></li>
    <% end %>
    </ul>
<% end %>