<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"><%= @hike.name %></h1>
        </div>
    </div>
</section>
<br>
<% if @hike.user == current_user %>
    <strong><%= link_to "Edit Hike", edit_hike_path(@hike) %></strong>
<% else %>
    <i>Created by <%= link_to @hike.user.name, user_path(@hike.user) %></i>
<% end %>
<br><br>

<div class="columns">
<div class="column">
    <div>
    <strong>Trailhead:</strong> <%= link_to @trailhead.name, trailhead_path(@trailhead) %> <br>
    <strong>Distance:</strong> <%= @hike.distance %> <br>
    <strong>Elevation Gain:</strong> <%= @hike.elevation_gain %> <br>
    <strong>Type:</strong> <%= @hike.hike_type %> <br>
    <strong>Difficulty:</strong> <%= @hike.difficulty %> <br>
    <strong>Highlights:</strong> <%= boolean_display @hike %> <br>
    <br>
    <strong>Description:</strong><br>
    <%= @hike.description.gsub(/\n/, '<br>').html_safe %> <br />
    </div>
</div>
<div class="column">
    <% if @hike.image_url %>
    <figure>
        <p class="image">
            <img src= "<%= @hike.image_url %>" >
        </p>
    </figure>
    <% end %>
</div>
</div>

<br><br>

<section class="content">
<h3>Leave a Trip Report:</h3>
<%= form_tag(trip_reports_path, method: "post") do %>
    <%= hidden_field_tag "hike_id", @hike.id %>
    <strong>Rating:</strong> <%= select_tag :rating, options_for_select([ [''], ['5 Stars', 5], ['4 Stars', 4], ['3 Stars', 3], ['2 Stars', 2], ['1 Stars', 1] ]) %><br>
    <strong>Trip Report:</strong><br>
    <textarea name="content", rows="10", cols="80"></textarea><br>
    <input type="submit" value="Submit Trip Report" class="button is-primary">
<% end %>
<br>
</section>

<% unless @trip_reports.empty? %>
    <h3><%= @hike.name %> Trip Reports:</h3>
    
    <% @trip_reports.each do |tr| %>

        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img class="is-rounded" src="https://i.imgur.com/1lG4sCo.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                <p>
                    <strong><%= format_tr_date tr %>: <%= link_to tr.user.name, user_path(tr.user) %></strong><br>
                    <% if tr.rating %>
                    <% n = tr.rating %>
                        <%= n %> Stars<br>
                        <% n.times do %>&bigstar;<% end %><br>
                    <% end %>
                    <br>
                    <%= tr.content %>
                </p>
                </div>
            </div>
        </article>

    <% end %>
<% end %>