<h1>Welcome to the Hikers App</h1>

<div>
<p>
The Hikers App is a place for outdoorsy folks to find trailheads and hikes, as well as share their own hikes. Users can also check-in at trailheads and leave trip reports on hikes, letting other users know how popular a trailhead is and the current conditions on a particular hike.
</p>
<p>
The Hikers App is a Rails web application created by Leonor Colbert as a portfolio project in association with Flatiron School's Online Software Engineering Program.
</p>
</div>

<% if user_signed_in? %>
    <div>
    <%= form_tag(root_path, method: "get") do %>
        <%= label_tag(:query, "Search for Hike or Trailheads:") %>
        <%= text_field_tag(:query) %>
        <%= submit_tag("Search") %>
    <% end %>
    </div>
<% end %>

<% if @trailheads %>
    <h3>Trailheads that fit your search:</h3>
    <ul>
    <% @trailheads.each do |th| %>
        <li><%= link_to th.name, trailhead_path(th) %></li>
    <% end %>
    </ul>
<% end %>

<% if @hikes %>
    <h3>Hikes that fit your search:</h3>
    <ul>
    <% @hikes.each do |h| %>
        <li><%= link_to h.name, hike_path(h) %></li>
    <% end %>
    </ul>
<% end %>