<!DOCTYPE html>
<html>
  <head>
    <title>HikersApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <header>
  <nav class="level" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <% if user_signed_in? %>
        <p class="level-item has-text-centered">
        <a class="navbar-item"><%= link_to "Search", root_path %></a>
        </p>
        <p class="level-item has-text-centered">
        <a class="navbar-item"><%= link_to "All Hikes", hikes_path %></a>
        </p>
        <p class="level-item has-text-centered">
        <a class="navbar-item"><%= link_to "All Trailheads", trailheads_path %></a>
        </p>
        <p class="level-item has-text-centered">
        <a class="navbar-item"><%= link_to "New Hike", new_hike_path %></a>
        </p>
        <p class="level-item has-text-centered">
        <a class="navbar-item"><%= link_to "Log Out", logout_path %></a>
        </p>
      <% else %>
        <p class="level-item has-text-centered">
        <a class="navbar-item"><%= link_to "Sign Up", signup_path %></a>
        </p>
        <p class="level-item has-text-centered">
        <a class="navbar-item"><%= link_to "Log In", login_path %></a>
        </p>
        <p class="level-item has-text-centered">
        <a class="navbar-item"><%= link_to "Blog", "https://leonorpdx.github.io/cookbook_community_sinatra_project" %></a>
        </p>
        <p class="level-item has-text-centered">
        <a class="navbar-item"><%= link_to "Video", "https://www.youtube.com/watch?v=4tjBlS7e9Ug" %></a>
        </p>
        <p class="level-item has-text-centered">
        <a class="navbar-item"><%= link_to "GitHub", "https://github.com/LeonorPDX/sinatra-crud-cookbook-community/" %></a>
        </p>
      <% end %>
    </div>
  </nav>
  </header>



  <section class="section">
    <div class="content">


        <div class="container">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>


      <%= yield %>

    </div>
  </section>

  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>The Hikers App</strong> by <a href="https://www.linkedin.com/in/leonorcolbert/">Leonor Colbert</a>. &copy; 2020
    </p>
  </div>
</footer>
  </body>
  
</html>
